![](https://api.brandy.run/core/core-logo-wide)

# MongoDB

En ese ejercicio, accederemos a informaciÃ³n vÃ­a internet utilizando un cluster Mongo en el cloud. Para poder conectar seguramente a la base de datos, deberÃ©is utilizar el fichero `.env` que se os ha pasado con un usuario y contraseÃ±a. Eso te permitirÃ¡ leer de las databases seleccionadas.

## Mongo Connection

Para empezar el ejercicio, conectaremos a mongo utilizando la siguiente URL de conexiÃ³n:

$$
\text{f"mongodb+srv://{user}:{password}@core-bdml.zr1wc.mongodb.net/test"}
$$

En el cual debes sustituir los valores para `{user}` y `{password}`. Pero como no queremos dejar nuestra contraseÃ±a a vista, lo haremos utilizando variables de entorno. Por lo tanto, en la celda abajo importe lo necesario de `dotenv`, `os` y `pymongo` para poder empezar.

In [1]:
# Import libraries

### dnspython

Para conectar a la url definida arriba, simplemente le tenemos que pasar como parÃ¡metro a la clase `MongoClient`. En ese momento puede ser que tengas un error diciendo que te falta la librerÃ­a `dnspython`. Instalala y reinicia el kernel del jupyter antes de seguir.

In [2]:
# Generate Client

## Fetching database

Como en una base de datos local, ya podemos hacer `.get_database(<db_name>).collection_name` para acceder a la informaciÃ³n. Abajo puedes ver una imagen con el nombre de la database a la que tienes acceso y sus diferentes colecciones.

![](img/collections.png)

In [3]:
# Create connection to `pokemon` collection

## Pokemon

Enhorabuena, has conectado a tu primer database en el $Cloud$ via Python.ðŸ˜Ž

Ahora, en las celdas abajo, usa de tus conocimientos de MongoDB para responder realizar las siguientes queries:

- 1. Toda la informaciÃ³n sobre el pokemon llamado Pikachu
- 2. `name` y `id` de los pokemon con id<3
- 3. `name` y `id` de los pokemon con 15<=id<=25
- 4. `name` y `id` de todos los pokemon cuyo nombre empieza con `c`
- 5. `name` y `id` de los pokemon con weight > 5_000
- 6. Â¿Cuantos pokemon tienen la palabra `mega` en su nombre?
- 7. Â¿Cuantos y cuales son los diferentes tipos de pokemon?
- 8. Â¿Cuales son los 6 diferentes stats de los pokemon?
- 9. Â¿Que pokemon tienen valores en el atributo `past_types`?
- 10. Â¿Quantos pokemon posÃ©en la ability `competitive`?

`HINT: AcuÃ©rdate que puedes ver los diferentes operadores Mongo en la`[` documentaciÃ³n.`](https://docs.mongodb.com/manual/reference/operator/query/)

## Nobel Laureates

Utilizando la colecciÃ³n `nobel_prize`, busca lo siguiente con queries Mongo:

- 1. Â¿En cuantos paÃ­ses diferentes nacieron los ganadores del prÃ©mio Nobel?
- 2. Â¿Cuantas categorÃ­as diferentes de prÃ©mios existen en el dataset?
- 3. Â¿Cual el nombre y apellido de los premiados que nascieron hace mÃ¡s tiempo?
- 4. Â¿Cual el nombre y apellido de los premiados que siguen vivos?
- 5. Â¿Cuantos premiados del nobel siguen vivos?
- 6. Â¿Hay algÃºn aÃ±o en que no hubo premiaciÃ³n?
- 7. Â¿Quien han sido los ganadores de los Ãºltimos 5 nobel de la paz?
- 8. Â¿Cuantas personas han ganado mÃ¡s de un prÃ©mio?

## Companies

Utilizando la colecciÃ³n `companies`, busca lo siguiente con queries Mongo:

* 1. Encuentra los datos de Twitter
* 2. Â¿Cuantas empresas tienen mÃ¡s de 5000 empleados?
* 3. Â¿Cual es el numero de empleados en las 3 empresas con mÃ¡s empleados?
* 4. Encuentra los nombres de las empresas fundadas entre 2000 y 2005, ambos incluidos.
* 5. Encuentra las 10 empresas mÃ¡s nuevas con mÃ¡s de 100 empleados
* 6. Â¿Cuales son todas las categorias (category_code) disponibles?
* 7. Encuentra el nombre de todas las empresas que contienen `search engine` en `overview`

## Companies GeoQueries
Utilizando la colecciÃ³n `new_companies` y el siguiente DataFrame, encuentra:

* 1. El nombre de la empresa mÃ¡s cercana al centro de cada capital europea.
* 2. La cantidad de empresas en un radio de 15 km del centro de cada cidade en el DF
* 3. Los nombres de las empresas a mÃ¡s de 5 km y menos de 35 de distancia de las ciudades de Asia

`HINT: Las queries con $near devuelven los elementos en orden del mÃ¡s cercano al mÃ¡s lejano`

In [1]:
import pandas as pd
df = pd.read_csv("../../data/capitals.csv")

In [2]:
df.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-FranÃ§ais,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe

## With GeoJson Polygons

Usando la misma collection y el fichero abajo, descubra cuantas empresas de la base de datos estÃ¡n en cada uno de los paÃ­ses Europeos. Represente el resultado en un DataFrame.

In [6]:
import json
with open("../../data/europe.geojson", "r") as file:
    europe = json.loads(file.read())

In [7]:
europe.keys()

dict_keys(['type', 'features'])