![](https://api.brandy.run/core/core-logo-wide)

# MongoDB

En ese ejercicio, accederemos a informaci칩n v칤a internet utilizando un cluster Mongo en el cloud. Para poder conectar seguramente a la base de datos, deber칠is utilizar el fichero `.env` que se os ha pasado con un usuario y contrase침a. Eso te permitir치 leer de las databases seleccionadas.

## Mongo Connection

Para empezar el ejercicio, conectaremos a mongo utilizando la siguiente URL de conexi칩n:

$$
\text{f"mongodb+srv://{user}:{password}@core-bdml.zr1wc.mongodb.net/test"}
$$

En el cual debes sustituir los valores para `{user}` y `{password}`. Pero como no queremos dejar nuestra contrase침a a vista, lo haremos utilizando variables de entorno. Por lo tanto, en la celda abajo importe lo necesario de `dotenv`, `os` y `pymongo` para poder empezar.

In [1]:
# Import libraries

### dnspython

Para conectar a la url definida arriba, simplemente le tenemos que pasar como par치metro a la clase `MongoClient`. En ese momento puede ser que tengas un error diciendo que te falta la librer칤a `dnspython`. Instalala y reinicia el kernel del jupyter antes de seguir.

In [2]:
# Generate Client

## Fetching database

Como en una base de datos local, ya podemos hacer `.get_database(<db_name>).collection_name` para acceder a la informaci칩n. Abajo puedes ver una imagen con el nombre de la database a la que tienes acceso y sus diferentes colecciones.

![](img/collections.png)

In [3]:
# Create connection to `pokemon` collection

## Pokemon

Enhorabuena, has conectado a tu primer database en el $Cloud$ via Python.游땙

Ahora, en las celdas abajo, usa de tus conocimientos de MongoDB para responder realizar las siguientes queries:

- 1. Toda la informaci칩n sobre el pokemon llamado Pikachu
- 2. `name` y `id` de los pokemon con id<3
- 3. `name` y `id` de los pokemon con 15<=id<=25
- 4. `name` y `id` de todos los pokemon cuyo nombre empieza con `c`
- 5. `name` y `id` de los pokemon con weight > 5_000
- 6. 쮺uantos pokemon tienen la palabra `mega` en su nombre?
- 7. 쮺uantos y cuales son los diferentes tipos de pokemon?
- 8. 쮺uales son los 6 diferentes stats de los pokemon?
- 9. 쯈ue pokemon tienen valores en el atributo `past_types`?
- 10. 쯈uantos pokemon pos칠en la ability `competitive`?

`HINT: Acu칠rdate que puedes ver los diferentes operadores Mongo en la`[` documentaci칩n.`](https://docs.mongodb.com/manual/reference/operator/query/)

## Nobel Laureates

Utilizando la colecci칩n `nobel_prize`, busca lo siguiente con queries Mongo:

- 1. 쮼n cuantos pa칤ses diferentes nacieron los ganadores del pr칠mio Nobel?
- 2. 쮺uantas categor칤as diferentes de pr칠mios existen en el dataset?
- 3. 쮺ual el nombre y apellido de los premiados que nascieron hace m치s tiempo?
- 4. 쮺ual el nombre y apellido de los premiados que siguen vivos?
- 5. 쮺uantos premiados del nobel siguen vivos?
- 6. 쮿ay alg칰n a침o en que no hubo premiaci칩n?
- 7. 쯈uien han sido los ganadores de los 칰ltimos 5 nobel de la paz?
- 8. 쮺uantas personas han ganado m치s de un pr칠mio?

## Companies

Utilizando la colecci칩n `companies`, busca lo siguiente con queries Mongo:

* 1. Encuentra los datos de Twitter
* 2. 쮺uantas empresas tienen m치s de 5000 empleados?
* 3. 쮺ual es el numero de empleados en las 3 empresas con m치s empleados?
* 4. Encuentra los nombres de las empresas fundadas entre 2000 y 2005, ambos incluidos.
* 5. Encuentra las 10 empresas m치s nuevas con m치s de 100 empleados
* 6. 쮺uales son todas las categorias (category_code) disponibles?
* 7. Encuentra el nombre de todas las empresas que contienen `search engine` en `overview`

## Companies GeoQueries
Utilizando la colecci칩n `new_companies` y el siguiente DataFrame, encuentra:

* 1. El nombre de la empresa m치s cercana al centro de cada capital europea.
* 2. La cantidad de empresas en un radio de 15 km del centro de cada cidade en el DF
* 3. Los nombres de las empresas a m치s de 5 km y menos de 35 de distancia de las ciudades de Asia

`HINT: Las queries con $near devuelven los elementos en orden del m치s cercano al m치s lejano`

In [1]:
import pandas as pd
df = pd.read_csv("../../data/capitals.csv")

In [2]:
df.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-Fran칞ais,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe

## With GeoJson Polygons

Usando la misma collection y el fichero abajo, descubra cuantas empresas de la base de datos est치n en cada uno de los pa칤ses Europeos. Represente el resultado en un DataFrame.

In [6]:
import json
with open("../../data/europe.geojson", "r") as file:
    europe = json.loads(file.read())

In [7]:
europe.keys()

dict_keys(['type', 'features'])