In [1]:
import pandas as pd
from pymongo import MongoClient
import os
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
url = os.getenv("url")

In [3]:
url

'mongodb+srv://admin:admin@bcn.e0wqq.mongodb.net/test'

In [4]:
client = MongoClient(url)

In [5]:
client

MongoClient(host=['bcn-shard-00-01.e0wqq.mongodb.net:27017', 'bcn-shard-00-02.e0wqq.mongodb.net:27017', 'bcn-shard-00-00.e0wqq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-lbgrvb-shard-0', tls=True)

In [6]:
db = client.get_database("BCN")

In [7]:
inm_nat= list(db["INM.NATIONALITY"].find({}))
data_inm_nat= pd.DataFrame(data = inm_nat)

In [8]:
data_inm_nat

,_id,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
0,628d907528360e0bbf01e184,2017,1,Ciutat Vella,1,el Raval,Spain,1109
1,628d907528360e0bbf01e185,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482
2,628d907528360e0bbf01e186,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414
3,628d907528360e0bbf01e187,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537
4,628d907528360e0bbf01e188,2017,2,Eixample,5,el Fort Pienc,Spain,663
...,...,...,...,...,...,...,...,...
35219,628d908d28360e0bbf026b17,2015,10,Sant Martí,70,el Besòs i el Maresme,No information,0
35220,628d908d28360e0bbf026b18,2015,10,Sant Martí,71,Provençals del Poblenou,No information,0
35221,628d908d28360e0bbf026b19,2015,10,Sant Martí,72,Sant Martí de Provençals,No information,0
35222,628d908d28360e0bbf026b1a,2015,10,Sant Martí,73,la Verneda i la Pau,No information,1
35223,628d908d28360e0bbf026b1b,2015,99,No consta,99,No consta,No information,0

In [9]:
data_inm_nat = data_inm_nat.drop(columns=["_id","Neighborhood Code","Neighborhood Name"])

In [10]:
data_inm_nat.isnull().sum()

Year             0
District Code    0
District Name    0
Nationality      0
Number           0
dtype: int64

In [11]:
data_inm_nat["Nationality"]=="No information"

0        False
1        False
2        False
3        False
4        False
         ...
35219     True
35220     True
35221     True
35222     True
35223     True
Name: Nationality, Length: 35224, dtype: bool

In [12]:
data_inm_nat[data_inm_nat["Nationality"]=="No information"]

       Year District Code District Name     Nationality  Number
11692  2017             1  Ciutat Vella  No information       2
11693  2017             1  Ciutat Vella  No information       1
11694  2017             1  Ciutat Vella  No information       0
11695  2017             1  Ciutat Vella  No information       0
11696  2017             2      Eixample  No information       2
...     ...           ...           ...             ...     ...
35219  2015            10    Sant Martí  No information       0
35220  2015            10    Sant Martí  No information       0
35221  2015            10    Sant Martí  No information       0
35222  2015            10    Sant Martí  No information       1
35223  2015            99     No consta  No information       0

[222 rows x 5 columns]

In [13]:
data_inm_nat.drop(data_inm_nat[data_inm_nat["Nationality"]=="No information"].index, inplace=True)

In [14]:
data_inm_nat[data_inm_nat["District Name"]=="No consta"]

       Year District Code District Name          Nationality  Number
73     2017            99     No consta                Spain       2
147    2017            99     No consta                Italy       0
221    2017            99     No consta                China       0
295    2017            99     No consta             Colombia       0
369    2017            99     No consta            Venezuela       0
...     ...           ...           ...                  ...     ...
34853  2015            99     No consta           Seychelles       0
34927  2015            99     No consta         Sierra Leone       0
35001  2015            99     No consta            Swaziland       0
35075  2015            99     No consta               Taiwan       0
35149  2015            99     No consta  Trinidad and Tobago       0

[473 rows x 5 columns]

In [15]:
data_inm_nat.drop(data_inm_nat[data_inm_nat["District Name"]=="No consta"].index, inplace=True)

In [16]:
data_inm_nat=data_inm_nat.groupby(by=["Year","District Code","District Name","Nationality"], as_index=False)["Number"].sum

In [19]:
data_inm_nat=data_inm_nat

In [ ]:
inm_nat_clean = data_inm_nat.to_dict('records')

In [ ]:
inm_nat=list(db["INM.NATION"].find({}))

In [ ]:
x = inm_nat.insert_many(inm_nat_clean)