![](https://api.brandy.run/core/core-logo-wide)

# Supervised Learning: Classification Exercise

En ese ejercicio, pondremos en practica los conceptos de Machine Learning y Clasificación que hemos visto.

# 1. Binary Classification

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Step 1. Data Preparation 

Que variables no importan para nuestro modelo y las debemos excluir? Por ejemplo, `Name` y `PassengerId` tienen valores unicos para cada persona. Además, verifica los nulos en cada columna y divisa una estratégia para eso.

También debemos preparar los datos categóricos para uso en un modelo. Utiliza una de las estratégias vistas para eso.

Entrenaremos un modelo para predecir la supervivencia, por lo cual debemos separar en `X` y `y` nuestros datos.

Además, como una práctica recorriente en Machine Learning, separamos el dataset en dos unidades: Train y Test.

## Step 2. Proving models

Entrena un modelo KNN con n_neighbors=5, el parámetro por defecto de sklearn.

Cuales son las diferentes métricas que podemos calcular? Que representa cada una de ellas?

En algoritmos que dependen de parámetros (llamados hiperparámetros) como el caso de n_neighbors, debemos eligir un valor pará él. Utiliza Cross Validation para probar diferentes valores para `n` y eligir el valor que consideres optimo. 

`Hint: Puedes representar una función de perdida para los diferentes n.`

No nos basta apenas un modelo, vamos compararle con algunos otros. Escribe código para entrenar y sacar métricas para los siguientes diferentes modelos, además del KNN:

- SGDClassifier
- LogisticRegression
- RandomForestClassifier

Puedes investigar otros [modelos](https://scikit-learn.org/stable/supervised_learning.html) que quieras.

## Step 3. Choosing Model

Ya tenemos bastante información para eligir el modelo que mejor nos sirva. Basado en las métricas recogidas anteriormente, cual modelo eligirias?

¡Enhorabuena al entrenar tu primer modelo clasificador!