## 2. Regression Algorithms - Part 2

### Boston Dataset

In [1]:
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

X,y = load_boston(return_X_y=True)
cols = load_boston()["feature_names"]
X = pd.DataFrame(X, columns=cols)

/Users/core_school/miniconda3/envs/core/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [2]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [3]:
y

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [5]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(379, 13) (127, 13) (379,) (127,)

In [6]:
y_test[:10]

array([17.4, 16.8, 12. , 22.3, 41.3, 23.1, 36. , 18.3, 14.4, 14. ])

### Basic Linear Regression

In [7]:
# Importamos el modelo desde SKLEARN
from sklearn.linear_model import LinearRegression

# Creamos una instancia del algoritmo que vamos a entrenar, en este momento los coeficientes no estan calculados 
lr = LinearRegression()

# Usando las features y el ground thruth de entrenamiento, calculamos los coeficientes
lr.fit(X_train,y_train)

# Predecimos una vez entrenado el modelo, que tal bien predice los propios datos con los que lo he entrenado
y_pred_train = lr.predict(X_train)

# Predecimos el dataset de testing para validar y mas adelante cuanto error he cometido
y_pred_test = lr.predict(X_test)

In [8]:
from sklearn.metrics import mean_squared_error as mse

print("Train RMSE:", mse(y_train,y_pred_train)**.5)
print("Test RMSE:", mse(y_test,y_pred_test)**.5)

Train RMSE: 4.704674452249467
Test RMSE: 4.7187110161892445

## Como Mejorar nuestro primer entrenamiento

Mejorar dataset
- Limpiar dataset
- Quitar outliers
- Incluir mas features (Enriquecer dataset)
- Incluir mas datapoints (samples)

Mejorar el pipeline de procesado de datos y entrenamiento
- Cambiar el train/test ratio?? Realmente no ganas nada al final
- Eliminar la incertidumbre generada por hacer el split al azar -> Con técnicas como Cross Validation
- Polynomial Features, relaciones no lineales (Extraer features, Linearizar, Kernel Methods)
- Cambiar el algoritmo de entrenamiento: LinearRegression(), RandomForestRegressor(), etc.
- Si el algoritmo tiene parámetros, cambiarlos y probar diferentes: Hyperparameter Tuning.
- Normalizar los datos

### Feature Crossing
`Feature Crossing` es la creación de una feature sintética multiplicando 2 o más features.

In [9]:
X_cross = X.copy()

In [10]:
columns = X_cross.columns
for i in range(len(columns)):
    for j in range(i,len(columns)):
        col_1 = columns[i]
        col_2 = columns[j]
        X_cross[f"{col_1}*{col_2}"] = X_cross[col_1]*X_cross[col_2]

In [11]:
X.shape, X_cross.shape

((506, 13), (506, 104))

In [12]:
X_cross.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,TAX*TAX,TAX*PTRATIO,TAX*B,TAX*LSTAT,PTRATIO*PTRATIO,PTRATIO*B,PTRATIO*LSTAT,B*B,B*LSTAT,LSTAT*LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,...,87616.0,4528.8,117482.40,1474.08,234.09,6072.570,76.194,157529.6100,1976.5620,24.8004
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,...,58564.0,4307.6,96049.80,2211.88,316.84,7064.820,162.692,157529.6100,3627.6660,83.5396
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,...,58564.0,4307.6,95064.86,975.26,316.84,6992.374,71.734,154315.4089,1583.1049,16.2409
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,...,49284.0,4151.4,87607.86,652.68,349.69,7379.581,54.978,155732.8369,1160.2122,8.6436
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,...,49284.0,4151.4,88111.80,1183.26,349.69,7422.030,99.671,157529.6100,2115.4770,28.4089

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X_cross,y)
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

print("Train:", mse(y_train,y_pred_train)**.5)
print("Test:", mse(y_test,y_pred_test)**.5)

Train: 2.2986973391360377
Test: 3.525383927361259

![](img/wtf_.jpeg)

In [14]:
X.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

### Standarization

El objetivo de estandarizar es eliminar el factor del error numérico en el entrenamiento de los algoritmos


`StandardScaler()`: Normaliza los datos para que tengan media =0 y desviación típica =1

IMPORTANTE: Solo estandarizamos variables numericas, no las categóricas

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_norm = X.copy()

# Sólo las numéricas
to_normalize = ['CRIM', 'ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'TAX','PTRATIO', 'B', 'LSTAT']
X_norm[to_normalize] = sc.fit_transform(X[to_normalize])

In [16]:
X_norm.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.419782,0.284830,-1.287909,0.0,-0.144217,0.413672,-0.120013,0.140214,1.0,-0.666608,-1.459000,0.441052,-1.075562
1,-0.417339,-0.487722,-0.593381,0.0,-0.740262,0.194274,0.367166,0.557160,2.0,-0.987329,-0.303094,0.441052,-0.492439
2,-0.417342,-0.487722,-0.593381,0.0,-0.740262,1.282714,-0.265812,0.557160,2.0,-0.987329,-0.303094,0.396427,-1.208727
3,-0.416750,-0.487722,-1.306878,0.0,-0.835284,1.016303,-0.809889,1.077737,3.0,-1.106115,0.113032,0.416163,-1.361517
4,-0.412482,-0.487722,-1.306878,0.0,-0.835284,1.228577,-0.511180,1.077737,3.0,-1.106115,0.113032,0.441052,-1.026501

In [17]:
X_norm.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,5.060000e+02,5.060000e+02,5.060000e+02,506.000000,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,506.000000,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,-8.787437e-17,-6.343191e-16,-2.682911e-15,0.069170,2.490322e-15,-1.145230e-14,-1.407855e-15,9.210902e-16,9.549407,-8.868619e-16,-9.205636e-15,8.163101e-15,-3.370163e-16
std,1.000990e+00,1.000990e+00,1.000990e+00,0.253994,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,8.707259,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00
min,-4.197819e-01,-4.877224e-01,-1.557842e+00,0.000000,-1.465882e+00,-3.880249e+00,-2.335437e+00,-1.267069e+00,1.000000,-1.313990e+00,-2.707379e+00,-3.907193e+00,-1.531127e+00
25%,-4.109696e-01,-4.877224e-01,-8.676906e-01,0.000000,-9.130288e-01,-5.686303e-01,-8.374480e-01,-8.056878e-01,4.000000,-7.675760e-01,-4.880391e-01,2.050715e-01,-7.994200e-01
50%,-3.906665e-01,-4.877224e-01,-2.110985e-01,0.000000,-1.442174e-01,-1.084655e-01,3.173816e-01,-2.793234e-01,5.000000,-4.646726e-01,2.748590e-01,3.811865e-01,-1.812536e-01
75%,7.396560e-03,4.877224e-02,1.015999e+00,0.000000,5.986790e-01,4.827678e-01,9.067981e-01,6.623709e-01,24.000000,1.530926e+00,8.065758e-01,4.336510e-01,6.030188e-01
max,9.933931e+00,3.804234e+00,2.422565e+00,1.000000,2.732346e+00,3.555044e+00,1.117494e+00,3.960518e+00,24.000000,1.798194e+00,1.638828e+00,4.410519e-01,3.548771e+00

In [18]:
import numpy as np

col = np.arange(10)
u = np.mean(col)

col_1 = col - u
col_1

std = np.std(col_1)

col_2 = col_1 / std

np.std(col_2)

1.0

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X_norm,y)
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

print("Train:", mse(y_train,y_pred_train)**.5)
print("Test:", mse(y_test,y_pred_test)**.5)

Train: 4.717673870022112
Test: 4.704711070104839

### With Feature Crossing

- Selecting only columns with high correlation to target

In [21]:
X_cross = X_norm.copy()
columns = X_cross.columns
for i in range(len(columns)):
    for j in range(i,len(columns)):
        col_1 = columns[i]
        col_2 = columns[j]
        X_cross[f"{col_1}*{col_2}"] = X_cross[col_1]*X_cross[col_2]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X_cross,y, random_state=42)
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

print("Train:", mse(y_train,y_pred_train)**.5)
print("Test:", mse(y_test,y_pred_test)**.5)

Train: 2.2118876993221996
Test: 3.9619989685424355

### We remain with just 3 columns <a class="tocSkip">

In [23]:
X_cross.corrwith(pd.Series(y))

CRIM            -0.388305
ZN               0.360445
INDUS           -0.483725
CHAS             0.175260
NOX             -0.427321
                   ...
PTRATIO*B        0.049536
PTRATIO*LSTAT    0.116011
B*B             -0.304388
B*LSTAT          0.136554
LSTAT*LSTAT     -0.169235
Length: 104, dtype: float64

In [24]:
cols = X_cross.columns[X_cross.corrwith(pd.Series(y)).abs() >= .4]
cols

Index(['INDUS', 'NOX', 'RM', 'TAX', 'PTRATIO', 'LSTAT', 'ZN*RAD', 'INDUS*RAD',
       'NOX*RAD', 'RM*PTRATIO', 'AGE*RAD', 'RAD*TAX', 'RAD*PTRATIO',
       'RAD*LSTAT'],
      dtype='object')

In [25]:
X_selec = X_cross[cols]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X_selec,y)
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

print("Train:", mse(y_train,y_pred_train)**.5)
print("Test:", mse(y_test,y_pred_test)**.5)

Train: 4.247524626348871
Test: 5.2069310228200205

![](img/chloe_.jpeg)