![](https://api.brandy.run/core/core-logo-wide)

# Pandas Exercise

En ese ejercicio haremos un pequeño análisis exploratorio y limpieza de datos. Carga el dataframe abajo e
investiga su contenido.

In [1]:
import pandas as pd
df = pd.read_csv("../../data/cars_messy.csv")

In [2]:
df.head()

,make,model,year,engine displacement,cylinders,transmission,drivetrain,vehicle class,fuel type,fuel barrels/year,city mpg,highway mpg,combined mpg,co2 emission grams/mile,fuel cost/year
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,-1,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,-1,3050
2,Dodge,Charger,1985,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.207778,23,33,27,-1,1250
3,Dodge,B150/B250 Wagon 2WD,1985,5.2,8.0,Automatic 3-spd,Rear-Wheel Drive,Vans,Regular,29.964545,10,12,11,-1,3050
4,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,17.347895,17,23,19,-1,2150

- ¿Cuántas columnas y filas hay en el dataframe?

- ¿Hay duplicados? Si los hay, ¿cuántos? Elimina esos duplicados.

- ¿Hay nulos? ¿Cuantos?

- ¿Que porcentual de nulos tiene la columna con más nulos? ¿Te parece un valor muy significativo?

- ¿Los tipos de datos reconocidos por pandas para las columnas son coherentes con la información contenida en ellas?

- ¿Cuáles son las columnas con valores numéricos y cuáles son las categóricas?

- Llama al método describe con apenas las columnas categóricas.

En las columnas `transmission, drivetrain, vehicle class, fuel type`: 
- ¿hay valores incorrectamente marcados? 
- ¿Hay diferentes variaciones de escritura de un mismo valor?
- ¿Hay alguna de esas columnas que consideres que contiene datos mejor representados en dos columnas diferentes?

Utiliza las herramientas de pandas que conoces para arreglar esos problemas

- Llama al método describe con apenas las columnas numéricas.

Mirando la tabla del describe
- ¿Hay alguna de las columnas que contiene valores equivocados?

- Si sí, ¿cuáles? 
- ¿Como podrías arreglar esos datos?
- ¿Alguna otra columna te da información relevante sobre esos datos?